/**
 Override the h1 padding to move the h1 heading closer to the
 header elements
*/
h1 {
  padding-top: 0;
}

#body-elements {
    all: unset; 
    min-height: 100vh;
    min-height: 100dvh;
}


.scene-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

}

#canvas-container {
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 80%;
  background-color: #000;
  border: 1px solid #312146;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px #5a2752; 
  overflow: hidden;
  margin-bottom: 1.5vh;
}



#main h1 {
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: 
    typing 3.5s steps(80, end) forwards,
    blink-caret 0.75s step-end;
}

main h1.white {
  animation: 
    typing 3.5s steps(80, end) forwards,
    blink-caret-white 0.75s step-end;
}

.content-text {
  color: black;
  font-size: clamp(12px, 2vw, 48px);
  text-align: center;
  margin-bottom: 1rem;
  pointer-events: none;
}

