* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7A00DB;
}

header {
    visibility: hidden;
    background-color: white;
}

#header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

#div1 {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensures div takes full screen height */
}

#spaceship {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0.8;
}

#sun {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    overflow: visible;
    opacity: 0.8;
}

.flames {
    opacity: 0;
}

#div-astronaut {
    visibility: hidden;
    text-align: center;
    font-size: xx-large;
}

#enter-name {
    text-align: center;
    font-size: xx-large;
    display: block;
    width: 20%;
    height: 5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
}

#hi {
    color: #f9a000;
    margin: 3rem;
}

#submit {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#submit::before, #submit::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: conic-gradient(from var(--angle), transparent 1%, #f9a000);
    border-radius: 1rem;
    animation: 2s spin infinite;
}

#submit::before {
    filter: blur(1.5rem);
    opacity: 0.7;
}

#submit:hover {
    background-color: black;
    color: #f9a000;
    font-size: 25px;
    transition: ease-in-out 1s;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from
    {
        --angle: 0deg;
    } 
    to
    {
        --angle:360deg;
    }
}

#welcome-p {
    padding-top: 10rem;
    visibility: hidden;
    text-align: center;
    font-size: 50px;
    color: white;
}

#div2 {
    text-align: center;
    color: white;
    padding-bottom: 3rem;
    margin: 0 auto;
    overflow: visible;
    margin-bottom: 3rem;

    h1 {
        font-size: 60px;
        padding-bottom: 10rem;
    }

    p {
        font-size: 50px;
        line-height: 2;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

#solar {
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    background-color: black;
    overflow: visible;
}

#Psyche{
    width: 350%;
    height: auto;
}

#div3 {
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    h1{
        font-size: 60px;
        margin-top: 2rem;
    }
    h4{
        font-size: 40px;
        margin-top: 3rem;
    }

    input {
        margin-top: 2rem;
        text-align: center;
        height: 100px;
        width: 10%;
        font-size: xx-large;
        border-radius: 1rem;
    }

    button{
        padding: 1rem;
        border-radius: 1rem;
        font-size: 30px;
        margin-left: 1rem;
    }
}

#ageButton {
    background-color: black;
    color: white;
}

#ageButton:hover {
    color: orange;
    cursor: pointer;
}

#div4 {
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 3rem;
    h1 {
        font-size: 60px;
        margin-top: 3rem;
    } 
    p{
        font-size: 50px;
        width: 80%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        line-height: 1;
    }
}

#div5 {
    height: 1000px;
}

a {
    color: #f9a000;
    cursor: pointer;
}

#ageOnPlanet {
    margin-top: 4rem;
    padding: 1%;
    width: 20%;
    height: 120px;
    border-radius: 1rem;
    font-size: 40px;
    text-align: center;
    color: black;
    cursor: pointer;
}

#ageOnPlanetLabel {
    font-size: 40px;
}

#newAge {
    font-size: 40px;
    margin-top: 6rem;
    color: #f9a000;
}

#div5 {
    margin-top: 5%;
    text-align: center;
    color: white;
    h1 {
        margin-top: 3rem;
        font-size: 60px;
    }
    p{
        margin-top: 3rem;
        line-height: 1.5;
        font-size: 40px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    h3{
        margin-top: 3rem;
        font-size: 50px;
    }
}

#div6 {
    text-align: center;
    color: white;

    h1{
        font-size: 60px;
    }
    h3{
        font-size: 40px;
        padding-top: 3rem;
    }
}

#container1 {
    background-color: black;
}

#container2{
    background-color: blue;
    height: 500px;
}

#astronautCar {
    padding-top: 3rem;
}

#changeColorBtn, #changeSquareColor {
    margin: 0;
    font-size: large;
    padding: 1%;
    border-radius: 1rem;
    background-color: #7A00DB;
    color: #f9a000;
    cursor: pointer;
}

#changeColorBtn {
    margin-right: 2%;
}

#color {
    transform: scale(2);
    margin-top: 100px;
    margin-left: 100px;
    border: solid black 3px;
    border-radius: 1rem;
}

#color-output {
    color: white;
    margin-left: 100px;
    display: none;
}

input[type="color"] {
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 5rem;
}

footer {
    height: 400px;
}