body {
    margin: 0;
    overflow-x: hidden;
}
#psyche {
    width: 25%;
    left: 3%;
    top: -5%;
    position: relative;
    animation: logo-move-in;
}
#asteroid {
    float: right;
    position: relative;
    width: 50%;
    right: -5%;
    top: -5%;
    animation: header-move-in;
}
#findOutButton {
    background-color: greenyellow;
    color: black;
    border: 2px solid greenyellow;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#findOutButton:hover {
    background-color: black;
    color: greenyellow;
    border-color: black;
}
@keyframes header-move-in {
    from {right: -200px; top: -100px;}
    to {right: -5%; top: -5%;}
}
@keyframes logo-move-in {
    from {left: -200px; top: -100px;}
    to {left: 3%; top: -5%;}
}
#wide-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 0;
    min-height: 500px;
    max-height: 500px;
    background-color: black;
    justify-content: center;
    border: 3px solid black;
}
#wide-view h3, p {
    text-align: center;
    margin-left: 25%;
    color: black;
}
#wide-view h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#wide-view p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#wide-img {
    margin-left: 30%;
    height: 500px;
    width: 800px;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
}
#main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);  
    justify-items: center; 
    align-items: center;  
    background-color: black;
    width: 100%;
    min-height: 30vh; 
    border: 3px solid black;
}
#main-container h3 {
    color: greenyellow;
    grid-column: 1 / 2;
    grid-row: 1 / 2;   
    justify-self: center; 
    align-self: center;   
    margin-left: 30%;
}
#main-container p {
    color: greenyellow; 
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
    text-align: center;
    margin-left: 30%;
}
#psyche-container {
    grid-column: 2 / 5; 
    grid-row: 1 / 3;
    width: 80%;
    margin-left: 20%;
    height: 500px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#top  {
    background-color: black;
    color: black;
    border: 3px solid black;
}
#top p {
    margin-left: 0;
    line-height: 2;
}