/* 
* psyche_style_small_smartphone.css
*
* This file defines the presentation aspects of this HTML file
* 
* Class:      SER 401
* Team:       35
* Project:    NASA Psyche Mission: Year on Psyche Simulation
* Authors:    Armando Arratia, Dan McNeil, Jenny Potocki, Josh Anselm, Tyler Brown
* Date:       10/17/24
* Revision:   1.0
*
* NASA PSYCHE MISSION STYLING GUIDELINES FULL DOCUMENT Link:https://drive.google.com/drive/folders/1MIwxLJ-mtbufn1g5_l8kPB9kicp_dtrM
* Finding Summary below:
*   Color Pallette: These are the component colors of the badge, and the larger brand system. They should be used
*                   sparingly as accents of to create hierarchy. 
* Mustard -     HEX #f9a000| RGB 250R 160G 0B
* Gold -        HEX #f47c33| RGB 245R 125G 50B
* Coral -       HEX #ef5966| RGB 239R 89G  102B
* Magenta -     HEX #a53f5b| RGB 165R 63G  91B
* Purple -      HEX #592651| RGB 89R  38G  81B
* Dark Purple - HEX #302144| RGB 48R  33G  68B
*
*   Backgrounds: The primary color pallette can be used to create gradient backgrounds with these 6 following combinations. 
*                No more than two colors are allowed to be in a single gradient!
* Dark Purple - Black
* Purple - Dark Purple
* Magenta - Purple
* Coral - Magenta
* Gold - Coral
* Mustard - Gold
*
*   Neutral Palette: A secondary set of neutral grays can be used to create hierarchy or organization in a layout, and should be based 
*                    off of the following tints of a rich cool black. 
* Black - HEX #12031d| RGB 18R  3G   29B 
* Tints - 75% Black, 50% Black, 25% BLack, 10% Black, 5% Black
* 
*   Typography: All messaging should be kept as simple and legible as possible. Use consistent sizes and treatment for headlines, copy,
*               and any other type element to create a structure and improve readability.
*   White topography over gradients ensures proper contrast. 
*   DO NOT use gradients in topography. 
*   DO NOT use more than one color in topography           
*
* Fonts: Kockout - Can be used for titles and short headlines.
*        Helvetica - Use this font for longer headlines, body copy, and any web applications. **THIS IS OUR MAIN FONT**         
* 
*
*
* Tips:       (.name) The "."" makes this a class selector and we can apply .name 
*             to multiple elements. 
*             (#name1) The "#" makes this a class selector for a specific element. 
*
* Styles Defined:
*     #logo
*     #header1
*     #screen1 h1
*     #screen1 p
*     #screen2 ul
*     #video1
*     #screen3 p
*     #psyche1
*     #screen4 p
*     #ocean
*     #screen5 p
*     #psyche_surface
*     #screen6 p
*     #path_picture
*     #background_video
*     #screen7 p
*     #video2
*     #screen8 p
*     #moons
*     #screen9p
*     #ring_picture
*     #screen10 p
*     #atmosphere
*     
*/ 

/*
========================================================================================================
File Start
========================================================================================================
*/

  /************ first screen (Asteroid 16 Psyche) ************/
  
  /**************************
  * #logo
  *
  */ 
  #logo {
    width: 17%;
    height: auto;
    opacity: .8;
    margin: auto;
  }

  /**************************
  * #header1
  *
  */ 
  #header1 {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
  }
  
  /**************************
  * #screen1 h1
  *
  */ 
  #screen1 h1 {
    color: gray; /*Black - HEX #12031d| RGB 18R  3G   29B -> Tints = 75% Black, 50% Black, 25% BLack, 10% Black, 5% Black */
    text-shadow: 0px 0px 50px antiquewhite;
    align-items: center;
    margin: 0 2.5%;
  }

  /**************************
  * #screen1 p
  *
  */ 
  #screen1 p {
    margin-top: 1.5%;
    opacity: 0.9;
    color: gray; /*Black - HEX #12031d| RGB 18R  3G   29B -> Tints = 75% Black, 50% Black, 25% BLack, 10% Black, 5% Black */
    background-color: transparent;
    font-size: 11.5px !important;
  }

  /************ second screen (Quick Facts) ************/

  /**************************
  * #screen2 ul
  *
  */ 
  #screen2 ul {
    transform: translateY(-7.5%);
    margin-left: auto;
    width: 90%;
  }

  /**************************
  * #video1
  *
  */ 
  #video1 {
    transform: scale(1.4) translateY(-15%); 
    border-radius: 10px;
    margin: 3.5% 30%;
  }
  
  /************ third screen (Size and Dimensions) ************/
    
  /**************************
  * #screen3 p
  *
  */ 
  #screen3 p {
    margin-top: 0.5%;
    font-size: 11.5px !important;
    width: 90%;
  }

  /**************************
  * #psyche1
  *
  */ 
  #psyche_size {
    transform: scale(1.5) translateY(-12.5%); 
    margin: 5% 35%;
  }
  
  /************ fourth screen (Life on Psyche) ************/
  
  /**************************
  * #screen4 p
  *
  */ 
  #screen4 p {
    transform: translateY(-10%);
    font-size: 11.5px !important;
  }
  
  /**************************
  * #ocean
  *
  */ 
  #ocean {
    transform: scale(1.5) translateY(-20%);
    border-radius: 10px;
    margin: 2.5% 32.5%;
  }
  
  /************ fifth screen (Surface of Psyche) ************/

  /**************************
  * #screen5
  *
  */ 
  #screen5 {
    background-image: url('../images/psyche_popup_images/Psyche_2.jpg');
    background-size: cover;
  }

  /**************************
  * #screen5 h1
  *
  */
  #screen5 h2 {
    transform: translateY(-80%);
    opacity: 0.7;
  }

  /**************************
  * #screen5 p
  *
  */ 
  #screen5 p {
    margin: 1% !important;
    transform: translateY(-15%);
    font-size: 11.5px !important;
    opacity: 0.8;
  }

  /**************************
  * #psyche_surface
  *
  */ 
  #psyche_surface {
    display: none;
    transform: scale(1.25) translateY(-20%); 
    border-radius: 10px;
    margin: 0 30%;
  }
  
  /************ sixth screen (Orbit and Rotation) ************/
  
  /**************************
  * #screen6 p
  *
  */ 
  #screen6 p {
    transform: translateY(-7.5%);
    font-size: 11.5px !important;
    padding-right: 10%;
  }

  /**************************
  * #path
  *
  */
  #path_picture {
    transform: scale(1.75) translateY(-0.25%); 
    border-radius: 10px;
    margin: 0.5% 30%;
  }

  /************ seventh screen (Structure) ************/

  /**************************
  * #background_video
  *
  */ 
  #background_video {
    display: block;
    object-fit: contain; /* Cover the entire container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(-100%, -100%);
    opacity: 0.8;
  }

  /**************************
  * #screen7 h2
  *
  */ 
  #screen7 h2 {
    transform: translateY(-70%);
    opacity: 0.8;
  }

  /**************************
  * #screen7 p
  *
  */ 
  #screen7 p {
    transform: translateY(-12.5%);
    font-size: 11.5px !important;
    opacity: 0.6;
    color: white !important;
  }

  /**************************
  * #video2
  *
  */ 
  #video2 {
    display: none;
    transform: scale(1.5) translateY(5%); 
    border-radius: 10px;
    margin: 0 30%;
  }

  /************ eigth screen (Moons) ************/

  /**************************
  * #screen8 p
  *
  */ 
  #screen8 p {
    transform: translateY(-5%);
    font-size: 11.5px !important;
  }

  /**************************
  * #moons
  *
  */ 
  #moon_picture {
    transform: scale(1.25) translateY(-15%); 
    border-radius: 10px;
    margin: 0 30%;
  }

  /************ ninth screen (Rings) ************/

  /**************************
  * #screen9 p
  *
  */ 
  #screen9 p {
    margin-top: 10%;
    font-size: 11.5px !important;
  }

  /**************************
  * #ring_picture
  *
  */
  #ring_picture {
    transform: scale(0.5) translateY(-40%); 
    border-radius: 10px;
    max-width: 100%;
    margin: 0 1%;
  }

  /************ tenth screen (Atmosphere) ************/

  /**************************
  * #screen10 p
  *
  */ 
  #screen10 p {
    margin-top: 3.5%;
    font-size: 11.5px !important;
  }
  
  /**************************
  * #atmosphere
  *
  */  
  #atmosphere {
    transform: scale(1.5) translateY(-5%); 
    border-radius: 10px;
    margin: 5% 32.5%;
  }  

/*
========================================================================================================
File End
========================================================================================================
*/