/*
========================================================================================================
Headers
========================================================================================================
*/

body {
    overflow-x: hidden;
    text-align: center;
    overflow-x: hidden;
}

#body-elements {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
}

/*header image left*/
#psyche {
    width: 25%;
    left: 3%;
    top: -5%;
    padding-top: 2%;
    position: relative;
    animation: logo-move-in;
    animation-duration: 2s;
}

/*header image right*/
#asteroid {
    float: right;
    position: relative;
    width: 50%;
    right: -5%;
    top: -5%;
    animation: header-move-in;
    animation-duration: 2s;
}

@keyframes header-move-in {
    from {right: -200px; top: -100px;}
    to {right: -5%; top: -5%;}
}

@keyframes logo-move-in {
    from {left: -200px; top: -100px;}
    to {left: 3%; top: -5%;}
}
/*
========================================================================================================
Main Body Style
========================================================================================================
*/

header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
}

#top {
    font-size: 70px;
    flex-grow: 1; 
    text-align: center; 
    justify-content: center;
    align-items: center;
    color:#592651;
    font-weight: bold;
}

/*
========================================================================================================
First Row Age on Earth/Psyche
========================================================================================================
*/
.year-h1 {
    margin: 0;
    font-size: 50px;
    flex-grow: 1; 
    text-align: center; 
    padding-top: 5%;
    color:#f9a000
}
.year-h2 {
    margin: 0;
    font-size: 50px;
    flex-grow: 1; 
    text-align: center; 
    padding-top: 5%;
    color:#592651
}

.scroll-wheel {
    width: 75px;
    height: 100px;
    overflow-y: scroll;
    border: 3px solid #592651;
    border-radius: 10px;
    position: relative;
    margin: 10px auto;
}
.scroll-wheel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.scroll-wheel li {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.scroll-wheel li.selected {
    font-weight: bold;
    color: #f9a000;
}

.earthAge {
    font-size: 100px; 
    font-weight: bold;
    padding-bottom: 0%;
    color: #087f23;
    text-shadow: 
                2px 2px 0 yellow, 
                -2px -2px 0 yellow, 
                2px -2px 0 yellow, 
                -2px 2px 0 yellow;
}
.psycheAge {
    font-size: 100px; 
    font-weight: bold;
    padding-bottom: 0%;
    color: #f9a000;
    text-shadow: 
                2px 2px 0 yellow, 
                -2px -2px 0 yellow, 
                2px -2px 0 yellow, 
                -2px 2px 0 yellow;
}


.year-footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    color: #592651;
    border: 3px solid #592651;
}

.year-img-date {
    display: flex;
    width: 50%;
    float: left;
}

.year-age {
    word-wrap: break-word;
}

#elements {
    display: grid;
    margin: 0;
    font-size: 30px;
    flex-grow: 1; 
    text-align: center; 
    color: #f9a000;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 0%;
    padding-bottom: 0%;
}

#yearselection {
    background-image: url(/img/calendar.jpeg);
    background-size: cover;
    background-position: bottom;
    color: #f9a000;
    padding-bottom: 0%;
    opacity: .75;
}

#ageOnEarth {
    background-image: url(/img/Earth.jpg);
    background-size: cover;
    background-position: center;
    opacity: .75;
}

#ageOnPsyche {
    background-image: url(/img/psyche.jpg);
    background-size: cover;
    background-position: center;
    opacity: .75;
}

/*
========================================================================================================
Second Row
========================================================================================================
*/

#work {
    background-image: url(/img/work.jpeg);
    background-size: cover;
    justify-content: center;
    color:#371d37;
    font-size: 40px;
    font-weight: bold;
}

#school {
    background-image: url(/img/school.jpeg);
    background-size: cover;
    color:#371d37;
    font-size: 40px;
    font-weight: bold;
}

#sleep {
    background-image: url(/img/sleep.jpeg);
    background-size: cover;
    color:#371d37;
    font-size: 40px;
    font-weight: bold;
}

#middle {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    flex-grow: 1; 
    text-align: center; 
    padding: 5%;
    color:#592651
}

/* Toggle Switch for Work */
.wrap {
    width: 200px !important;
    display: flex !important;
    border-radius: 2rem;
    overflow: hidden;
    padding: 0rem;
    background-color: #e5e5e5;
    border: 10px;
    justify-content: center;
    align-items: center;
    
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    width: 50%;
    font-size: 1rem;
    padding: 0.6rem 0;
    text-align: center;
    color: #000000;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 2;
    border-radius: 1rem;
}

input[type="radio"]:checked + label {
    color: #ffffff;
    background: #371d37;
    z-index: 1;
}
footer {
    text-align: center;
}
