/* 
* popup_style.css
*
* This file defines the presentation aspects of this HTML file
* 
* Class:      SER 401
* Team:       35
* Project:    NASA Psyche Mission: Year on Psyche Simulation
* Authors:    Armando Arratia, Dan McNeil, Jenny Potocki, Josh Anselm, Tyler Brown
* Date:       10/17/24
* Revision:   1.0
*
* NASA PSYCHE MISSION STYLING GUIDELINES FULL DOCUMENT Link:https://drive.google.com/drive/folders/1MIwxLJ-mtbufn1g5_l8kPB9kicp_dtrM
* Finding Summary below:
*   Color Pallette: These are the component colors of the badge, and the larger brand system. They should be used
*                   sparingly as accents of to create hierarchy. 
* Mustard -     HEX #f9a000| RGB 250R 160G 0B
* Gold -        HEX #f47c33| RGB 245R 125G 50B
* Coral -       HEX #ef5966| RGB 239R 89G  102B
* Magenta -     HEX #a53f5b| RGB 165R 63G  91B
* Purple -      HEX #592651| RGB 89R  38G  81B
* Dark Purple - HEX #302144| RGB 48R  33G  68B
*
*   Backgrounds: The primary color pallette can be used to create gradient backgrounds with these 6 following combinations. 
*                No more than two colors are allowed to be in a single gradient!
* Dark Purple - Black
* Purple - Dark Purple
* Magenta - Purple
* Coral - Magenta
* Gold - Coral
* Mustard - Gold
*
*   Neutral Palette: A secondary set of neutral grays can be used to create hierarchy or organization in a layout, and should be based 
*                    off of the following tints of a rich cool black. 
* Black - HEX #12031d| RGB 18R  3G   29B 
* Tints - 75% Black, 50% Black, 25% BLack, 10% Black, 5% Black
* 
*   Typography: All messaging should be kept as simple and legible as possible. Use consistent sizes and treatment for headlines, copy,
*               and any other type element to create a structure and improve readability.
*   White topography over gradients ensures proper contrast. 
*   DO NOT use gradients in topography. 
*   DO NOT use more than one color in topography           
*
* Fonts: Kockout - Can be used for titles and short headlines.
*        Helvetica - Use this font for longer headlines, body copy, and any web applications. **THIS IS OUR MAIN FONT**         
* 
*
*
* Tips:       (.name) The "."" makes this a class selector and we can apply .name 
*             to multiple elements. 
*             (#name1) The "#" makes this a class selector for a specific element. 
*
* Styles Defined:
*     .popup
*     .popup-buttons
*     .popup-buttons button
*     .popup-content
*     .popup-content-header
*     .popup-content-body
*     .popup-content-body p
*		  .popup-content-body li
*     .popup-content button
*     .popup-content button:hover
*     .popup-overlay
*     
*/ 

/*
========================================================================================================
File Start
========================================================================================================
*/

/**************************
* .popup
*
* 
*/ 
.popup {
    position: absolute;
    top: 27%;
    width: 90vw;
    height: 57vh;
    left: 50%;
    transform: translate(-50%) skew(-5deg);
    background-color: black; /* need to make Black - HEX #12031d| RGB 18R  3G   29B */
    background-blend-mode: darken;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* need to make Black - HEX #12031d| RGB 18R  3G   29B */
    z-index: 1004;
    padding: 20px;
    border-radius: 20px;
    color: antiquewhite;
  }
  
  /**************************
  * .popup-buttons
  *
  */ 
  .popup-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
  }
  
  /**************************
  * .popup-buttons button
  * 
  */ 
  .popup-buttons button {
    margin: 0 10px;
  }
  
  /**************************
  * .popup-content
  *
  * 
  */ 
  .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  /**************************
  * .popup-content-header
  *
  */ 
  .popup-content-header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    transform: skew(5deg);
    color: gray; /*Black - HEX #12031d| RGB 18R  3G   29B -> Tints = 75% Black, 50% Black, 25% BLack, 10% Black, 5% Black */
    text-shadow: 0px 0px 30px antiquewhite; /* Lets discuss the white as a team */
  }
  
  /**************************
  * .popup-content-body
  *
  */ 
  .popup-content-body {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    flex-grow: 1;
    width: 100%;
}
  
  /**************************
  * .popup-content-body p
  *
  */ 
  .popup-content-body p {
    flex: 1; 
    padding-top: 1% !important;
    margin: 10px; 
    font-size: x-large;
    padding: 5%;
    color: gray;
    background-color: black;
    border-radius: 10px;
}
  
  /**************************
  * .popup-content-body li
  *
  * 
  */ 
  .popup-content-body li {
    font-size: xx-large !important;
    font-weight: normal;
  }
  
  /**************************
  * .popup-content button
  *
  * 
  */ 
  .popup-content button {
    z-index: 1001;
    position: relative;
    margin-top: 20px;
    background-color: gray; /*Black - HEX #12031d| RGB 18R  3G   29B -> Tints = 75% Black, 50% Black, 25% BLack, 10% Black, 5% Black */
    color: black; /* need to make Black - HEX #12031d| RGB 18R  3G   29B */
    transform: skew(5deg);
    border-radius: 6px;
    font-size: large;
    cursor: pointer;
    padding: 8px 15px;
  }
  
  /**************************
  * .popup-content button:hover
  *
  * 
  */ 
  .popup-content button:hover{
    background-color: #592651; /* Purple */
    color: #f47c33; /* Gold */
    transition: 1s ease;
  }
  
  /**************************
  * .popup-overlay
  *
  */ 
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* need to make Black - HEX #12031d| RGB 18R  3G   29B */
    z-index: 999;
  }