/* 
* style.css
*
* This file defines the presentation aspects of this HTML file
* 
* Class:      SER 401
* Team:       35
* Project:    NASA Psyche Mission: Year on Psyche Simulation
* Authors:    Armando Arratia, Dan McNeil, Jenny Potocki, Josh Anselm, Tyler Brown
* Date:       10/17/24
* Revision:   1.0
*
* Tips:       (.name) The "."" makes this a class selector and we can apply .name 
*             to multiple elements. 
*             (#name1) The "#" makes this a class selector for a specific element. 
*
* Styles Defined:
*     body
*     header
*     header h1
*     #container3D
*     #container3D canvas
*     button#info
*     .popup
*     .popup-buttons
*     .popup-buttons button
*     .popup-content
*     .popup-content-header
*     .popup-content-body
*     .popup-content-body p
*     .popup-content button
*     .popup-content button:hover
*     .popup-overlay
*     #psyche1
*     #header1
*     #logo
*     #screen1 p
*     #screen1 h1
*     #rings
*     #atmosphere
*     #moons
*     
*     
*/ 

/*
========================================================================================================
File Start
========================================================================================================
*/

/**************************
* body container
*
*/ 
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

/**************************
* header
*
*/ 
header {
  padding: 2em 0;
  text-align: center;
  color: white;
  z-index: 10;
  position: relative;
}

/**************************
* header h1
*
*/ 
header h1 {
  font-size: 2em;
  font-weight: 900;
  margin: 0;
}

/**************************
* #container3D
*
*/ 
#container3D {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px); /* Adjust height to leave room for the header and button */
  margin-top: 0;
}

/**************************
* #container3D canvas
*
*/ 
#container3D canvas {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  z-index: 1;
}


/**************************
* button#info
* 
* "More Information" button
*/ 
button#info {
  background-color: gray;
  cursor: pointer;
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 20px; /* Place it at the bottom of the viewport */
  left: 50%;
  transform: translateX(-50%); /* Center the button horizontally */
  z-index: 1002; /* Ensure it's above the canvas */
}

/**************************
* .popup
*
* 
*/ 
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-5deg);
  /*background-image: url("/US237/images/Psyche_2.jpg");*/
  background-color: black;
  background-blend-mode: darken;
  background-size: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  color: antiquewhite;
}

/**************************
* .popup-buttons
*
* container for the three popup buttons
*/ 
.popup-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: skew(5deg);
}

/**************************
* .popup-buttons button
* 
* sizing for the individual buttons
*/ 
.popup-buttons button {
  margin: 0 10px;
}

/**************************
* .popup-content
*
* 
*/ 
.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/**************************
* .popup-content-header
*
*/ 
.popup-content-header {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  transform: skew(5deg);
  color: gray;
  text-shadow: 0px 0px 30px antiquewhite;
}

/**************************
* .popup-content-body
*
*/ 
.popup-content-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}

/**************************
* .popup-content-body p
*
* popup content paragraph body styling
*/ 
.popup-content-body p {
  flex: 1;
  margin-right: 20px;
  text-align: left;
  font-size: x-large;
  padding: 5%;
  color: gray;
  background-color: black;
  border-radius: 10px;
}

/**************************
* .popup-content button
*
* popup content button styling
*/ 
.popup-content button {
  z-index: 1001;
  position: relative;
  margin-top: 20px;
  background-color: gray;
  color: black;
  transform: skew(-5deg);
  border-radius: 6px;
  font-size: large;
  cursor: pointer;
}

/**************************
* .popup-content button:hover
*
* style changes for hovering curser over button
*/ 
.popup-content button:hover{
  background-color: #592651;
  color: #f47c33;
  transition: 1s ease;
}

/**************************
* .popup-overlay
*
*/ 
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/**************************
* #psyche1
*
*/ 
#psyche1 {
  width: 40%;
  height: auto;
  border-radius: 10px;
}

/**************************
* #header1
*
*/ 
#header1 {
  display: flex;
  align-items: center;
  position: relative;
}

/**************************
* #logo
*
*/ 
#logo {
  width: 20%;
  height: auto;
  opacity: .8;
}

/**************************
* #screen1 p
*
*/ 
#screen1 p {
  opacity: 0.9;
  color: gray;
  background-color: transparent;
}

/**************************
* #screen1 h1
*
*/ 
#screen1 h1 {
  color: gray;
  text-shadow: 0px 0px 50px antiquewhite;
}

/**************************
* #rings
*
*/ 
#rings {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

/**************************
* #atmosphere
*
*/ 
#atmosphere {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

/**************************
* #moons
*
*/ 
#moons {
  width: 50%;
  height: auto;
  border-radius: 10px;
}