# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Editor directories and settings
.vscode/
.vscode/settings.json

# MacOS files
.DS_Store

# Environment variables
.env

# Build output
dist/
out/

# Temporary files
*.log
