body {
    margin: 0 auto;
}

body button {
    cursor: pointer;
}

/*
=================== Header Elements ===================
*/

/**************************
* header
*
*/ 
header {
    top: 0;
    position: fixed;
    margin-bottom: 10%;
    width: 100%;
    padding: 20px 0;
    color: black;
    z-index: 1;
    font-size: xx-large;
  }
  
  /**************************
  * header h1
  *
  */ 
  header h1 {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    margin: 0 auto;
    padding-top: 15px;
  }
  
  /**************************
  * #header_navigation
  *
  */ 
  #header_navigation {
    display: flex;         
    justify-content: center; /* Center all elements within this container */
    align-items: center;    
    width: 100%;
    padding-right: 5%;
    background-color: transparent; 
    margin-bottom: 20px;
  }

  main h1 {
    font-size: 50px;
  }

  

  @media (max-width: 430px) {
    main h1 {
      margin-top: 10%;
      font-size: 30px;
    }
  }

  @media (max-width: 375px) {
    main h1 {
      margin-top: 20%;
      font-size: 20px;
    }
  }
  
  /**************************
  * .center_logo
  *
  */
  .center_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Make it take available space */
    margin: 0 auto;
  }
  
  /**************************
  * .right_logos
  *
  */
  .right_logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-right: 1%;
    position: absolute;
    right: 5%; /* Position it to the right edge */
  }
  
  /**************************
  * #p_asu_logo
  *
  */ 
  #p_asu_logo {
    position: relative;
    top: -20px;
    max-width: 100px;
    height: auto;
  }
  
  /**************************
  * #nasa_logo
  *
  */ 
  #nasa_logo {
    position: relative;
    top: 20px;
    max-width: 80px;
    height: auto;
    margin-left: -12px;
  }
  
  /**************************
  * #main_logo
  *
  */ 
  #main_logo {
    max-width: 200px;
    height: auto; 
    transition: all 1s linear;
    margin: 0 auto;
  }
  
  /**************************
  * .logos
  *
  */ 
  .logos {
    max-width: 80px;
    height: auto; 
  }

  @media (max-width: 1920px) {
    #main_logo {
      width: 175px;
      padding-bottom: 5%;
    }
    #p_asu_logo {
      width: 100px;
    }
    #nasa_logo {
      width: 80px;
    }
  }

  @media (max-width: 1280px) {
    #main_logo {
      width: 125px;
      padding-bottom: 5%;
    }
    #p_asu_logo {
      width: 80px;
    }
    #nasa_logo {
      width: 60px;
    }
  }

  @media (max-width: 1024px) {
    #main_logo {
      width: 100px;
      padding-bottom: 5%;
    }
    #p_asu_logo {
      width: 70px;
    }
    #nasa_logo {
      width: 50px;
    }
  }

  @media (max-width: 820px) {
    #main_logo {
      width: 80px;
      padding-bottom: 5%;
    }
    #p_asu_logo {
      width: 60px;
    }
    #nasa_logo {
      width: 40px;
    }
  }

  @media (max-width: 430px) {
    #main_logo {
      width: 70px;
      padding-bottom: 5%;
    }
    .right_logos {
      display: none;
    }
  }
  
  /*
  =================== Header Hamburger Menu Elements ===================
  */
  
  /**************************
  * .hamburger
  *
  */
  .hamburger {
    display: none; /* Initially hidden */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
  }

  @media (max-width: 430px) {
    .hamburger{
      display: block;
      top: 50px;
      right: 2.5px;
    }
  }
  
  /**************************
  * .hamburger .bar
  *
  */
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 8px 0;
    transition: all 0.3s ease;
  }

  @media (max-width: 1024px) {
    .hamburger .bar{
      width: 20px;
      height: 2px;
      margin: 6px 0;
    }
  }

  @media (max-width: 820px) {
    .hamburger .bar{
      width: 20px;
      height: 2px;
      margin: 4px 0;
    }
  }

  @media (max-width: 430px) {
    .hamburger .bar{
      width: 15px;
      height: 2px;
      margin: 3px 0;
    }
  }

  /**************************
  * .menu-links
  *
  */
  .menu-links {
    border: solid black 2px;
    border-right: transparent;
    display: none; /* Hidden initially */
    position: fixed;
    top: 60px;
    height: 100%;
    width: auto;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 2%;
    z-index: 1000;
  }
  
  /**************************
  * .menu-links ul
  *
  */
  .menu-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /**************************
  * .menu-links li
  *
  */
  .menu-links li {
    margin: 10px 0;
    padding: 7.5%;
  }
  
  /**************************
  * .menu-links a
  *
  */
  .menu-links a {
    text-decoration: none;
    color: black;
  }
  
  /*
  =================== Scrolling Features ===================
  */
  
  /**************************
  * .scrolled .center_logo
  *
  */ 
  .scrolled .center_logo {
    justify-content: flex-start; /* Move logo to the left when scrolled */
    margin-left: 20px; /* Add left margin if needed */
  }
  
  /**************************
  * .scrolled #main_logo
  *
  */ 
  .scrolled #main_logo {
    max-width: 80px; /* Smaller logo size when scrolled */
  }
  
  @media (max-width: 1024px) {
    .scrolled #main_logo {
      width: 60px;
    }

    .scrolled .center_logo {
      margin-left: 10px;
    }
  }

  @media (max-width: 820px) {
    .scrolled #main_logo {
      width: 50px;
    }

    .scrolled .center_logo {
      margin-left: 7.5px;
    }
  }

  @media (max-width: 768px) {
    .scrolled #main_logo {
      width: 50px;
    }

    .scrolled .center_logo {
      margin-left: 4px;
    }
  }

  @media (max-width: 430px) {
    .scrolled #main_logo {
      display: none;
    }
  }
  
  /**************************
  * .scrolled .right_logos
  *
  */ 
  .scrolled .right_logos {
    display: none;
  }
  
  /**************************
  * .scrolled h1
  *
  */ 
  .scrolled h1 {
    display: none;
  }
  
  /**************************
  * #p_asu_logo_menu, #nasa_logo_menu
  *
  */ 
  #p_asu_logo_menu, #nasa_logo_menu {
    margin: 0;
    position: static; 
  }
  
  /**************************
  * #p_asu_logo_menu
  *
  */ 
  #p_asu_logo_menu {
    max-width: 100px;
  }
  
  /**************************
  * #nasa_logo_menu
  *
  */
  #nasa_logo_menu {
    max-width: 80px;
  }
  
  /*
  =================== Scrolling Features for Hamburger Menu ===================
  */
  
  
  /**************************
  * .scrolled .hamburger
  *
  */
  .scrolled .hamburger {
    display: block; 
  }
  
  /**************************
  * .menu-active
  *
  */
  .menu-active {
    display: block;
  }

footer {
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 1%;
}

main {
    width: 100%;
    height: 100%;
    color: red;
    padding-top: 10%;
    padding-bottom: 10%;
}

#one {
    text-align: center;
    color: black;
}

#two {
    position: relative;
    background-color: black;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

#info {
    background-color: black;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5%;
    z-index: 3;
}

#fullscreen {
    background-color: black;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 5%;
}

@media (max-width: 1920px) {
  #fullscreen {
    right: 2.5%;
  }
}

@media (max-width: 1280px) {
  #info {
    top: 17.55px;
  }
}

@media (max-width: 1024px) {
  #info {
    top: 22.5px;
  }
}

@media (max-width: 820px) {
  #info {
    top: 25px;
  }

  #fullscreen {
    right: 4%;
  }
}

@media (max-width: 768px) {
  #info {
    top: 27.55px;
  }
}

@media (max-width: 430px) {
  #info {
    top: 28px;
    left: -2px;
    background-color: transparent;
  }

  #fullscreen {
    right: 30px;
  }
}

@media (max-width: 375px) {
  #info {
    top: 28px;
    left: -2px;
    background-color: transparent;
  }

  #fullscreen {
    right: 30px;
  }
}

.containerOne { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    border: solid 1px orange;
    width: 80%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#horizontal-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 3;
}

#vertical-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10%;
    z-index: 2;
}

@media (max-width:1920px) {
  #vertical-buttons{
    bottom: 5%;
  }
}

@media (max-width:1024px) {
  #vertical-buttons{
    bottom: 1.5%;
  }
}

@media (max-width:820px) {
  #horizontal-buttons{
    flex-direction: column;
  }
}

.horizontal-buttons,
.vertical-buttons {
    margin: 5px;
    padding: 5px;
    width: 120px;
    border-radius: 10px;
    background-color: black;
    color: orange;
    border: 1px solid orange;
    font-size: x-large;
}

@media (max-width: 1920px) {
  .horizontal-buttons,
  .vertical-buttons{
    font-size: large;
    width: 100px;
  }
}

@media (max-width: 1280px) {
  .horizontal-buttons,
  .vertical-buttons{
    font-size: medium;
    width: 90px;
  }
}

@media (max-width: 1024px) {
  .horizontal-buttons,
  .vertical-buttons{
    font-size: xx-small;
    width: 70px;
  }
}

@media (max-width: 820px) {
  .horizontal-buttons,
  .vertical-buttons{
    font-size: small;
    width: 70px;
  }
}

@media (max-width: 430px) {
  .horizontal-buttons,
  .vertical-buttons{
    font-size: x-small;
    width: 50px;
  }
}

.horizontal-buttons:hover,
.vertical-buttons:hover {
    background-color: orange;
    color: black;
    
}

#button-psyche {
  background-image: url('../images/main_images/psyche_background_gradient.jpg');
  background-size: cover;
  background-color: transparent;
  color: black;
}

#button-psyche:hover {
  background-image: none;
  background-color: orange;
  color: black;
}

#fullscreen_button {
    width: 90%;
    background-color: transparent;
}

#info_button {
    width: 170%;
    background-color: transparent;
    z-index: 3;
}

@media (max-width: 1920px) {
  #info_button {
    width: 160%
  }

  #fullscreen_button {
    width: 160%;
    margin-right: 15%;
  }
}

@media (max-width: 1280px) {
  #info_button {
    width: 200%
  }

  #fullscreen_button {
    width: 160%;
    margin-right: 15%;
  }
}

@media (max-width: 1024px) {
  #info_button {
    width: 220%
  }

  #fullscreen_button {
    width: 175%;
  }
}

@media (max-width: 820px) {
  #info_button {
    width: 275%
  }

  #fullscreen_button {
    width: 225%;
  }
}

@media (max-width: 768px) {
  #info_button {
    width: 300%
  }

  #fullscreen_button {
    width: 250%;
  }
}

@media (max-width: 430px) {
  #info_button {
    width: 700%
  }

  #fullscreen_button {
    width: 500%;
  }
}

@media (max-width: 375px) {
  #info_button {
    width: 900%
  }

  #fullscreen_button {
    width: 700%;
  }
}

#containerOne canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


#pan-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    padding: 5px;
}

#pan-controls .horizontal-pan {
    display: flex;
    gap: 20px;
}

.pan-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orange;
    font-size: x-large;
    padding: 12px;
    width: 60px;
    height: 60px;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 1920px) {
  .pan-button {
    font-size: medium;
    padding: 5px;
  }

  #pan-controls .horizontal-pan{
    gap: 10px;
  }
}

@media (max-width: 1280px) {
  .pan-button {
    font-size: small;
    padding: 0;
    gap: 1.5px;
    width: 50px;
    height: 50px;
  }

  #pan-controls .horizontal-pan{
    gap: 8px;
  }
}

@media (max-width: 1024px) {
  .pan-button {
    font-size: 9px;
    padding: 0;
    gap: 0.5px;
    width: 35px;
    height: 35px;
  }

  #pan-controls .horizontal-pan{
    gap: 0.5px;
  }
}

@media (max-width: 430px) {
  .pan-button {
    font-size: xx-small;
    padding: 0;
    gap: 0px;
    width: 30px;
    height: 30px;
  }

  #pan-controls .horizontal-pan{
    gap: 5px;
  }
}

.pan-button:hover {
  background-color: orange;
    color: black; /* Lighter background on hover */
}

.pan-button span {
    display: block;
    font-size: 14px;
}

/*
=================== Footer Elements ===================
*/

/**************************
* footer
* 
*/ 
footer {
  background-image: url('../images/main_images/psyche_background_gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  bottom: 0;
  height: 100%;
}

/**************************
* #footer_container
* 
*/ 
#footer_container {
  width: 100vw;
  height: auto;
  border-top: solid black 5px;
  margin-top: 20%;
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

/**************************
* #footer_container div
* 
*/
#footer_container div {
  margin: 0 auto;
}

/**************************
* #footer_container h3
* 
*/
#footer_container h3 {
  font-size: xx-large;
  font-weight: bolder;
}

@media (max-width: 1024px) {
  #footer_container h3 {
    font-size: large;
    text-align: left;
  }

  #footer_container li {
    font-size: medium !important;
  }

  footer h4 {
    font-size: medium !important;
  }
}

@media (max-width: 430px) {
  #footer_container h3 {
    font-size: large;
    text-align: left;
  }

  #footer_container li {
    font-size: medium !important;
  }

  footer h4 {
    font-size: medium !important;
  }
}

@media (max-width: 375px) {
  #footer_container li, footer h4 {
    font-size: small !important;
  }
}
/**************************
* #footer_container li
* 
*/
#footer_container li {
  list-style-type: none;
  font-size: x-large;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

/**************************
* #left_footer
* 
*/
#left_footer {
  color: #a53f5b;
}

/**************************
* #center_footer
* 
*/
#center_footer {
  color: #f9a000;
}

/**************************
* #center_footer h4
* 
*/
#center_footer h4 {
  font-size: x-large;
}

/**************************
* #right_footer
* 
*/
#right_footer {
  color: #f47c33;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup content styling */
#reference-popup {
  text-align: left;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff4500;
  color: #ff4500;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  height: 80%;
  position: relative;
}

#reference-button {
  background-color: transparent; /* Makes button background transparent */
  color: #ff4500; /* Set this to your desired text color */
  border: none; /* Removes default button border */
  font-size: 16px; /* Adjust as needed */
  cursor: pointer; /* Adds pointer cursor on hover */
}

/* Button hover effect */
#reference-button:hover {
  color: #ff6347; /* Change text color on hover */
}

#reference-popup h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #8B0000; /* Color for the header text */
}

#reference-popup ul li {
  font-family: Arial, Helvetica, sans-serif;
  color: #CD5C5C; /* Color for list items */
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

#reference-popup p {
  color: #CD5C5C; /* Color for paragraphs */
  margin: 10px 0;
  line-height: 1.6;
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/*
=================== Class to hide elements ===================
*/

/**************************
* .hide
* 
*/
.hide {
  visibility: hidden;
}


@media (max-width: 768px) {
    #header_navigation {
        flex-direction: column;
        align-items: center;
    }

    .center_logo {
        margin: 0 auto;
        text-align: center;
    }
}

/*
========================================================================================================
File End
========================================================================================================
*/
